
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <title>Index</title>
</head>
<style>

    body {
        font-family: "Lato", sans-serif;
    }



    .sidebar {
        height: 100%;
        width: 240px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 16px;
    }



        .sidebar a {
            padding: 10px 14px 10px 10px;
            text-decoration: none;
            font-size: 18px;
            color: white;
            display: block;
        }



            .sidebar a:hover {
                color: #0094ff;
            }



    .main {
        margin-left: 240px; /* Same as the width of the sidenav */

        padding: 0px 10px;
    }



    @@media screen and (max-height: 450px) {

        .sidebar {
            padding-top: 15px;
        }



            .sidebar a {
                font-size: 18px;
            }
    }
</style>
<body>

    <div class="sidebar">
        <a href="/Kategori/Index"><i class="fa fa-home"></i>&nbsp; Ana Sayfa</a>
        <a href="#"><i class="fa fa-list"></i>&nbsp; Kategoriler</a>
        <a href="#"><i class="fa fa-book"></i>&nbsp; Kitaplar</a>
        <a href="#"><i class="fa fa-pencil-alt"></i>&nbsp; Yazarlar</a>
        <a href="#"><i class="fa fa-users"></i>&nbsp; Üyeler</a>
        <a href="#"><i class="fa fa-user-tie"></i>&nbsp; Personeller</a>
        <a href="#"><i class="fa fa-arrow-circle-right"></i>&nbsp; Ödünç Kitap Ver</a>
        <a href="#"><i class="fa fa-arrow-circle-left"></i>&nbsp; Ödün Kitap Al</a>
        <a href="#"><i class="fa fa-euro-sign"></i>&nbsp; Kasa</a>
        <a href="#"><i class="fa fa-tasks"></i>&nbsp; İşlemler</a>
        <a href="#"><i class="fa fa-cogs"></i>&nbsp; Ayarlar</a>
        <a href="#"><i class="fa fa-phone-alt"></i>&nbsp; Yardım</a>
        <a href="#"><i class="fa fa-sign-out-alt"></i>&nbsp; Çıkış</a>
    </div>


    <div class="main">
        @RenderBody()
    </div>

</body>
</html>
