@model List<MvcKutuphane.Models.Entity.Tbl_Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<style>
    .kategori-baslik {
        display: inline-block;
        padding: 5px 10px;
        color: #fff;
        background-color: #007bff; 
        border-radius: 10px; 
        font-size: 12px;
    }

</style>
<h2 class="mb-2 mt-4 kategori-baslik" style="font-size:12px;">Kategoriler</h2>


<table class="table table-bordered table-hover mt-2" style="font-size:15px;">
    <tr>
        <th>ID</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td>@item.ID</td>
            <td>@item.Ad</td>
            <td><a href="/Kategori/KategoriSil/@item.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Kategori/KategoriGuncelle/@item.ID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Kategori/YeniKategori/" class="btn btn-primary">Yeni Kategori Ekle</a>